
.vs/ApplicationBackEnd/v15
/com.application.business/bin/Debug
/com.application.business/obj
/com.application.contracts/bin/Debug
/com.application.contracts/obj
/com.application.data/bin/Debug
/com.application.data/obj
/com.application.database/bin/Debug
/com.application.database/obj
/com.application.entities/bin/Debug
/com.application.entities/obj
/com.application.webapi/bin/Debug
/com.application.webapi/obj
/.vs
.vs/ApplicationBackEnd/v15/.suo
ApplicationBackEnd.v12.suo
.vs/ApplicationBackEnd/v15/.suo
