<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="UniversalEntities" connectionString="metadata=res://*/AngularDBModel.csdl|res://*/AngularDBModel.ssdl|res://*/AngularDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3VH6JNV;initial catalog=universaldb;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>